/* App.css */


/* Themes */

:root {
  --background-color: #FFF;
  --background-color-alt: #F2F2F2;
  --border-color: #DDD;
  --primary-text-color: #000;
  --secondary-text-color: #FFF;
  --secondary-background-color: #4CAF50;
  --secondary-background-color-active: #0F3325;
  --navbar-background-color: var(--secondary-background-color);
  --navbar-background-color-active: var(--secondary-background-color-active);
  --filter-background-color: var(--secondary-background-color);
  --filter-background-color-active: var(--secondary-background-color-active);
}

[data-theme="dark"] {
  --background-color: #111;
  --background-color-alt: #1A1A1A;
  --border-color: #333;
  --primary-text-color: #DDD;
  --secondary-text-color: #FFF;
  --secondary-background-color: #3DAF42;
  --secondary-background-color-active: #1A522b;
  --navbar-background-color: var(--secondary-background-color);
  --navbar-background-color-active: var(--secondary-background-color-active);
  --filter-background-color: var(--secondary-background-color);
  --filter-background-color-active: var(--secondary-background-color-active);
  color-scheme: dark;
}


/* General */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color);
  margin: auto;
  width: 80%;
}

body, button {
  color: var(--primary-text-color);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

.content {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.centered {
  text-align: center;
}


/* Navbar */

.navbar {
  background-color: var(--navbar-background-color);
  overflow: hidden;
  border-radius: 8px;
  margin: 10px 0 18px 0;
}

.navbar a {
  float: left;
  display: block;
  color: var(--secondary-text-color);
  text-align: center;
  padding: 14px 12px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.navbar a:hover, .navbar a.active {
  background-color: var(--navbar-background-color-active);
}

.navbar button {
  float: right;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  padding: 4px 8px;
  cursor: pointer;
}


/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  position: sticky;
  padding: 0px 20px;
  height: calc(100vh - 24px);
  inset: 4px;
}

.sidebar h2 {
  font-size: 1.2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0 4px 0 0;
  margin: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.sidebar li {
  margin-bottom: 4px;
}

.sidebar button {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.sidebar button:hover, .sidebar li.active button {
  background-color: var(--secondary-background-color-active);
}


/* Filter buttons */

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 32px;
  padding: 5px;
}

.filter-button {
  background-color: var(--filter-background-color);
  border: none;
  color: var(--secondary-text-color);
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  margin: 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.img-filter-button {
  padding: 8px 10px;
}

.filter-button:hover, .filter-button-active {
  background-color: var(--filter-background-color-active);
}

.filter-button img {
  width: 48px;
  height: 48px;
  vertical-align: middle; /* Removes mysterious extra padding below image, somehow */
}

.nobr {
  white-space: nowrap;
}

.all-box-label {
  position: absolute;
  font-size: 0.9rem;
}

.all-box {
  position: absolute;
}


/* Pagination */

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  justify-content: center;
}

.pagination button {
  margin: 2px;
  display: inline-block;
  border: 0;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover, .pagination button.active {
  background-color: var(--secondary-background-color-active);
}

.pagination button:disabled {
  background-color: #ddd;
  color: #999;
  cursor: default;
}


/* Common */

.flag-icon {
  width: 36px;
  height: 20px;
}


/* Tables */

.table-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

table {
  border-collapse: collapse;
  background-color: var(--background-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

tr:nth-child(even) {
  background-color: var(--background-color-alt);
}

th, td {
  /* TODO: disable Mui default styles to remove !important tags */
  padding: 12px !important;
  text-align: left !important;
  border-bottom: 2px solid var(--border-color) !important;
  color: var(--primary-text-color) !important;
  font-size: 0.9rem !important;
}

th {
  font-weight: bold;
}


/* Page-specifics */

.chart-table,
.player-table,
.af-table,
.total-time-table,
.prsr-table,
.wr-table,
.leaderboard-chart-table,
.record-holder-table {
  flex: 1;
  margin-right: 2%; /* Adjust as needed */
  max-width: min-content;
}

.top10-table {
  flex: 1;
  margin-right: 1%; /* Adjust as needed */
  max-width: min-content;
}

.playerinfo-table {
  max-width: 600px; /* Adjust the maximum width as needed */
  width: 100%;
  margin: 0 auto 40px auto;
}

.timesheet-table {
  flex: 1 0 45%;
  margin: 0 10px;
}

.timesheet-table h2 {
  font-size: 1.2rem;
}
