/* App.css */

.table-container {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  padding: 2%;
}

.top10-table {
  flex: 1;
  margin-right: 2%; /* Adjust as needed */
}

.chart-table {
  flex: 1;
  margin-right: 2%; /* Adjust as needed */
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: calc(100% - 2px); /* Adjust based on border size */
  margin: 1px; /* Create a border effect */
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


thead {
  background-color: #3498db;
  color: #fff;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

th {
  font-weight: bold;
}

/* Add these styles to center the button container */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11vh;
}

/* Add the styles for the cool button as before */
.cool-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

/* Add the styles for the cool button as before */
.cool-button-active {
  background-color: #0F3325;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}


body {
  transform: scale(0.8);
  transform-origin: top;
}

.nobr {
  white-space: nowrap;
}

/* Navbar styles */
.navbar {
  background-color: #4caf50; /* Green background color */
  overflow: hidden;
}

/* Navbar links */
.navbar a {
  float: left;
  display: block;
  color: #ffffff; /* White text color */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd; /* Light grey background on hover */
  color: #000000; /* Black text color on hover */
}

.sidebar h2 {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar button:hover {
  background-color: #0F3325;
}

.sidebar li.active button {
  background-color: #0F3325
}

.sidebar {
  width: 200px;
  padding: 20px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.content-container {
  flex-grow: 1;
  padding: 20px;
  margin-left: 15%; /* Adjust to include the width of the sidebar */
}

/* Pagination Styles */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  justify-content: center;
  font-family: 'Arial', sans-serif;
}

.pagination button {
  margin: 0 5px;
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #0F3325;
}

.pagination button.active {
  background-color: #0F3325;
}

.pagination button:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
}

/* Previous and Next Buttons */
.pagination button.pagination-previous,
.pagination button.pagination-next {
  margin: 0 5px;
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.playerinfo-container {
  text-align: center;
  margin-bottom: 5vh;
}

.playerinfo-table {
  max-width: 600px; /* Adjust the maximum width as needed */
  width: 100%;
  margin: 0 auto; /* Center the table horizontally */
}

.timesheet-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.timesheet-table {
  width: 100%;
  /* Add any additional styling for your tables here */
}

.category-header {
  text-align: center;
}
